# This is a custom .npmrc file that is used to configure npm to work with the monorepo

#  This is used to share the lockfile between the packages
shared-workspace-lockfile=true 

# This is used to hoist all the dependencies to the root of the monorepo
hoist=true
hoist-pattern[]=* 

# This is used to enforce the peer dependencies
strict-peer-dependencies=true

# This is used to store the pnpm store in the root of the monorepo
store-dir=.pnpm-store

# This is used to link the workspace packages
link-workspace-packages=true # This is used to link the workspace packages
